.header{
  background-color: #3AAFA9;
  text-align: center;
}

h1{
  color:white;
}

.headerp{
  color:white;
}

.child1{
  background-color:#17252A ;
  display: inline-block;
  padding: 1rem 1rem;
margin-bottom: 30px;

}

.child2{
  background-color:#17252A ;
margin-bottom: 30px;
display: inline-block;
padding: 1rem 1rem;

}

.child3{
background-color:#17252A ;
display: inline-block;
padding: 1rem 1rem;
margin-bottom:30px;
}

body{
  background-color: #3AAFA9;
}



.title{
  width: 1000px;
  margin-left:50px;
}

#table{
width:150px;
}

.text{
color:white;
}

.rightside{
float:right;
margin-left:50px;
}

.leftside{
  float:left;
  width:1000px;
}

.child4right{
background-color: #17252A ;
display: inline-block;
padding: 1rem 1rem;
margin-bottom:30px;
background-color:#17252A ;
width: 250px;
}

.child1right{
  background-color: #17252A ;
  padding: 1rem 1rem;
  margin-bottom:30px;
  margin-right:85px;
  width: 250px;
  }

  .child2right{
    background-color: #17252A ;
    padding: 1rem 1rem;
    margin-bottom:30px;
  
    width: 250px;
    }
    .child3right{
      background-color: #17252A ;
      padding: 1rem 1rem;
      margin-bottom:30px;
      margin-right:85px;
      width: 250px;
      }

img{
height:300px;
width: 300px;
border-radius: 50%;
border:10px solid white;
}
